.custom_lists_sidebar {
    position: fixed;
    top: 1rem;
    left: 1rem;
    border-radius: 10px;
    background-color: #121212;
    color: white;
    padding: 1rem;
    

    h2 {
        margin: 0;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
            color: #3FA8E9;
            cursor: pointer;
        }
    }

    .list_div {
        margin-bottom: 1rem;
        
        h3, p {
            margin: 0;
            // border: 1px solid red;
        }
    }
}